<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="5">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        <tr>
            {% for i in item %}
            <td>{{i.Name}}</td>
            <td>{{i.Price}}</td>
            <td>{{i.Quantity}}</td>   
        </tr>
        {% endfor %}
</table>
</body>
</html>