<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Product List</h1>
    <ul>
        {% for i in product_list %}
        <li><b>{{i.Name}}</b></li>
        <ul style="list-style-type:none;padding-left:0;">
        <li>Price: {{i.Price}}</li>
        {% if i.Stock == 'Out of stock' %}
        <li style="color: red;">Out of stock</li>
        {% else %}
        <li style="color: rgb(60, 175, 81);">In stock</li>
        {% endif %}
        </ul>
        {% endfor %}
    </ul>
</body>
</html>