
{% extends "base2.html" %}

{% block title %}Products{% endblock %}

{% block content %}
    <h1>Our Products</h1>
    <ul>
        
        <li>
            <h2>Product 1</h2>
            <p>Description of product 1</p>
            <p>Price: 10.00</p>
        </li>
        <li>
            <h2>Product 2</h2>
            <p>Description of product 2</p>
            <p>Price: 15.00</p>
        </li>
        <li>
            <h2>Product 3</h2>
            <p>Description of product 3</p>
            <p>Price: 20.00</p>
        </li>
    </ul>
{% endblock %}
